body {
    font-size: $font-size;
}

.padding-none {
    padding: 0;
}


.fixed {
    position: fixed;

    &--right-top{
        right: 0;
        top: 20px;
    }
}

.ui-pointer{
    cursor: pointer;
}

@media(max-width: 991px) {
    .ui-map{

    }
}

