body, .ui-content {
    background: #e3e9ee;
}
.ui-content{
    margin-left: $menu-width;
    overflow: auto;
    height: 100%;
}
$menu-class: '.main-menu';

main-menu md-sidenav#{$menu-class} {
    background: $color-1;
    position: fixed !important;
    width: $menu-width;
    height: 100%;
    padding-top: 10px;

    md-icon, i, div {
        color: $color-white;
    }

    li{
        margin-bottom: 10px;
    }

    &-item {
        text-align: center;
        &-icon {
            font-size: 30px;
        }
        &-label {
            font-size: 12px;
        }
    }
}