//Dimensions
$map-width: 700px;
$message-list-width: 300px;
$radius: 3px;
$menu-width: 60px;

//Color palette
$color-background: #F3F3F3;
$color-post: #FFFFFF;
$color-1: #576779;
$color-2: #8faec9;
$color-3: #676767;
$color-error: #FF6363;
$color-success: #66D14F;
$color-like: #E96B6B;
$color-button: #F7F7F7;
$color-border: #CCCCCC;
$color-shadow: #B8B8B8;
$color-white: #FFFFFF;

$button-height: 40px;

$font-size: 14px;

