
#workout {
    md-toolbar:not(.md-menu-toolbar) {
        background: $color-1;
    }
    md-content{
        margin: 0;
    }

    table {
        margin: 0;

        td{
            &:first-child{
                width: 25px;
            }
            padding: 5px 10px;
        }
    }
}