//
   Created by amrazek on 22/03/16.


md-sidenav.md-sidenav-left.main-menu(
md-component-id="left"
md-is-locked-open="true"
layout="column" layout-align="space-between center" flex="none")
    div.ui-list.ui-list--plain(ng-controller="MainController as ctrl" flex="100")
        li
            a.main-menu-item(ui-sref="grid" title="grid_header")
                i.material-icons.main-menu-item-icon assignment
                div.main-menu-item-label(ng-bind="'menu.grid'|translate")
        li
            a.main-menu-item(ui-sref="plans" title="grid_header")
                i.material-icons.main-menu-item-icon fitness_center
                div.main-menu-item-label(ng-bind="'menu.plans'|translate")

div.main-menu(layout="column" layout-align="space-between center" flex="none")
